/* === SITE SECTION - ABOUT === */
/* == root == */
// /*  == border == */
// $border-heigh: 6px; 
// $border-animation-duration: 1s;
//  /* == border animation == */
// @mixin border-animation {
//     animation-duration: $border-animation-duration;
//     animation-timing-function: linear;
//     animation-fill-mode:forwards;
// }

/*  == point == */
$point-dim: 20px; 
$point-top: 19.5%;
$point-top-id2: $point-top + 16.5%;
$point-top-id3: $point-top + 33%;
$point-top-id4: $point-top + 49%;
$point-top-id5: $point-top + 66%;
$point-left: 71.5%;
$point-transition-delay: .4s;
/* == point animation == */
@mixin point-animation {
    animation-delay:  $point-transition-delay;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;           
}

/* == line == */
$line-top: 21%;
$line-top-id2: $line-top + 17%;
$line-top-id3: $line-top + 29%;
$line-top-id4: $line-top + 50%;
$line-top-id5: $line-top + 65%;
$line-left: 73%;

/* == line animation == */
@mixin line-animation {
    animation-name: line-animation;
    animation-delay:  $point-transition-delay;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;           
}

/* == transition == */
$transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);

#about {   
    overflow: hidden;

    h2 {
        // color: $color-font-light;
        font-size: 3rem;
        font-weight: $base-font-weight;
        line-height: $line-heigh-md;
        padding: $padding-xxl;
        margin-top: 8rem;

        span {
            // color: $color-font-light;
            color: $color-highlight;
            font-weight: $font-weight-lg;
            // text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
        }
    }

    h3 {
        // color: $color-font-light;
        font-size: $font-size-xl;
        font-weight: $font-weight-xl;
        line-height: $line-heigh-md;
        padding: $padding-xxl;
    }

    h4 {
        // color: $color-font-light;
        font-size: $font-size-md;
        font-weight: $font-weight-lg;
        line-height: $line-heigh-md;
        padding: $padding-xxl;
    }

    p {
        padding: $padding-xxl;
        font-size: $font-size-md;
        // color: $color-font-light;
        line-height: $line-heigh-md;
        font-weight: $base-font-weight;

        span {
            // color: $color-highlight;
            font-weight: $font-weight-xl;
            // text-shadow: 0 0 10px #00b3ff;
        }
    }

    &.section {
        width: 100vw;
        // margin-top: -80px;
        background: $color-bg-light;
        // padding-top: $base-padding*8;
        padding-bottom: $base-padding*5;
        overflow: hidden;
        color: $color-font;
    }

    .section__content-wrap {
        padding: 0 $base-padding*3;
        width: 98%;
        max-width: 1400px;
        
        & > article {
            padding: $padding-xl $padding-lg;
            margin: $margin-xxl*3 0 $margin-xxl;
        }

        & > article:first-of-type {
            grid-template-columns: [col] auto [col] 60%;
            grid-template-rows: repeat(2, auto [row]); 

            h3 {
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;
                text-align: right;
                margin-right: 3rem;
            }

            p {
                grid-column: 2 / span 1;
                grid-row: 2 / span 1;
            }

            
            .grid {
                grid-column: 1 / span 1;
                grid-row: 1 / span 2;
    
                grid-template-columns: [col] 65% [col] auto;
                grid-template-rows: [row] (3*$font-size-xl) repeat(5, auto [row]); 

                transition: $transition;
                transition-duration: 3s;
                overflow: hidden;
                position: relative;
    
                p {
                    text-align: right;
                    font-size: $font-size-md - .4rem;
                    padding: 0;
                    margin-top: $font-size-md - 1.2rem;
                    opacity: 0;

                    &[data-id] {
                        &.active {
                            transition: $transition;
                            transition-duration: 2s;
                            opacity: 1;
                        }
                    }

                    &[data-id="1"], &[data-id="6"] {
                        &.active {
                            transition: $transition;
                            opacity: 1;
                            transition-delay:  $point-transition-delay;
                        }
                    }

                    &[data-id="2"], &[data-id="7"]{
                        &.active {
                            transition: $transition;
                            opacity: 1;
                            transition-delay:  $point-transition-delay*8;
                        }
                    }

                    &[data-id="3"], &[data-id="8"] {
                        &.active {
                            transition: $transition;
                            opacity: 1;
                            transition-delay:  $point-transition-delay*14;
                        }
                    }

                    &[data-id="4"], &[data-id="9"] {
                        &.active {
                            transition: $transition;
                            opacity: 1;
                            transition-delay:  $point-transition-delay*20;
                        }
                    }

                    &[data-id="5"], &[data-id="10"] {
                        &.active {
                            transition: $transition;
                            opacity: 1;
                            transition-delay:  $point-transition-delay*24;
                        }
                    }

                    &[data-year] {
                        margin-top: 0;
                        margin-right: $margin-xxl;
                        font-size: $font-size-md;
                    }

                    &[data-year="2022"] {
                        margin-right: $margin-xxl;
                        font-size: $font-size-md;
                        font-weight: $font-weight-lg;
                    }
                }
        
                .line {
                    width: 4px;
                    height: 15%;
                    // background-color: $color-font-light;
                    background-color: $color-font;
                    position: absolute;
                    opacity: 0;

                    &.active {
                        transition-delay: $point-transition-delay*4;
                        opacity: 1;

                        @include line-animation()          
                    }


                    &[data-id="1"], &[data-id="6"] {
                        top: $line-top;
                        left: $line-left;

                        &.active {
                            animation-name: line-animation;
                            animation-delay:  $point-transition-delay*4;
                        }
                    }

                    &[data-id="2"] {
                        top: $line-top-id2;
                        left: $line-left;

                        &.active {
                            transition-delay: $point-transition-delay*10;

                            animation-name: line-animation;
                            animation-delay:  $point-transition-delay*10;
                        }
                    }

                    &[data-id="3"] {
                        height: 10%;
                        top: $line-top-id3;
                        left: $line-left;

                        &.active {                            
                            transition-delay: $point-transition-delay*16;

                            animation-name: line-animation-longer;
                            animation-delay:  $point-transition-delay*16;
                        }
                    }

                    &[data-id="4"] {
                        top: $line-top-id4;
                        left: $line-left;

                        &.active {
                            transition-delay: $point-transition-delay*20;

                            animation-name: line-animation;
                            animation-delay:  $point-transition-delay*20;
                        }
                    }

                    &[data-id="5"] {
                        top: $line-top-id5;
                        left: $line-left;

                        &.active {
                            transition-delay: $point-transition-delay*26;

                            animation-name: line-animation;
                            animation-delay:  $point-transition-delay*26;
                        }
                    }

                }
    
                .point {
                    width: $point-dim;
                    height: $point-dim;
                    // background-color: $color-font-light;
                    background-color: $color-font;
                    border-radius: 50%;
                    position: absolute;
                    opacity: 0;

                    &.active {
                        transition-delay: 1s;
                        opacity: 1;

                        @include point-animation()          
                    }
    
                    &[data-id="1"] {
                        top: $point-top;
                        left: $point-left;
                        
                        &.active {
                            animation-name: point1-animation;
                        }
                    }

                    &[data-id="2"] {
                        top: $point-top-id2;
                        left: $point-left;  
                        transition-delay: $point-transition-delay*8;  

                        &.active {
                            animation-name: point2-animation;
                            animation-delay:  $point-transition-delay*8;
                        }
                    }

                    &[data-id="3"] {
                        top: $point-top-id3;
                        left: $point-left;
                        transition-delay: $point-transition-delay*14;  

                        &.active {
                            animation-name: point3-animation;
                            animation-delay:  $point-transition-delay*14;
                        }
                    }

                    &[data-id="4"] {
                        top: $point-top-id4;
                        left: $point-left;
                        transition-delay: $point-transition-delay*20;  

                        &.active {
                            animation-name: point4-animation;
                            animation-delay:  $point-transition-delay*20;
                        }
                    }

                    &[data-id="5"] {
                        top: $point-top-id5;
                        left: $point-left;
                        transition-delay: $point-transition-delay*24;  

                        &.active {
                            animation-name: point5-animation;
                            animation-delay:  $point-transition-delay*24;
                        }
                    }

                }
        
                p:first-of-type {
                    grid-column: 1 / span 1;
                    grid-row: 2 / span 1;
                }
    
                p:nth-of-type(2) {
                    grid-column: 1 / span 1;
                    grid-row: 3 / span 1;
                }
    
                p:nth-of-type(3) {
                    grid-column: 1 / span 1;
                    grid-row: 4 / span 1;
                }
    
                p:nth-of-type(4) {
                    grid-column: 1 / span 1;
                    grid-row: 5 / span 1;
                }

                p:nth-of-type(5) {
                    grid-column: 1 / span 1;
                    grid-row: 6 / span 1;
                }
        
                p:nth-of-type(6) {
                    grid-column: 2 / span 1;
                    grid-row: 2 / span 1;
                }
    
                p:nth-of-type(7) {
                    grid-column: 2 / span 1;
                    grid-row: 3 / span 1;
                }
    
                p:nth-of-type(8) {
                    grid-column: 2 / span 1;
                    grid-row: 4 / span 1;
                }
    
                p:nth-of-type(9) {
                    grid-column: 2 / span 1;
                    grid-row: 5 / span 1;
                }

                p:nth-of-type(10) {
                    grid-column: 2 / span 1;
                    grid-row: 6 / span 1;
                }
    
            }
        }    

        // & > article:nth-of-type(2) {
        //     grid-template-columns: repeat(2, 50% [col]);
        //     grid-template-rows: repeat(2, auto [row]); 
        //     border: 1px solid $color-hover-highlight;
        //     padding-bottom: $padding-xl + $padding-xxl;
        //     position: relative;

        //     .article-content__container.left {
        //         grid-column: 1 / span 1;
        //         grid-row: 2 / span 1;
        //     }

        //     .article-content__container.right {
        //         grid-column: 2 / span 1;
        //         grid-row: 2 / span 1;
        //     }

        //     h3 {
        //         grid-column: 1 / span 2;
        //         grid-row: 1 / span 1;
        //         text-align: left;
        //     }

        //     h4 {
        //         padding-top: $padding-xl;
        //         padding-bottom: 0;
        //         text-align: center;
        //     }

        //     p {
        //         margin-bottom: $margin-xxl;
        //     }

        //     a {
        //         display: inline-block;

        //     }
        //     .btn {
        //         border: 1px solid $color-hover-highlight;
        //         transition: $transition;
        //         transition-duration: .5s;
        //         margin-left: $margin-xxl;
        //     }

        //     .btn:hover, .btn:focus, .btn:active {
        //         background-color: $color-hover-highlight;
                
        //     }

        //     &::before {
        //         content: '';
        //         width: 140px;
        //         height: 140px;
        //         position: absolute;
        //         top: -40px;
        //         right: -40px;
        //         border: 20px solid darken($color: $color-hover-highlight, $amount: 30);
        //         border-left: none;
        //         border-bottom: none;
        //     }

        // }

        & > article:nth-of-type(2) {
            grid-template-columns: repeat(4, auto [col]);
            grid-template-rows: repeat(2, auto [row]); 

            h3 {
                grid-column: 1 / span 4;
                grid-row: 1 / span 1;
                text-align: left;
                margin-right: $base-font-size*3;
                margin-bottom: $margin-xxl;
            }

            .article-content__container {
                height: auto;
                opacity: 1;
                position: initial;
                justify-self: center;
                align-self: center;
            }

            .article-content__container:first-of-type {
                grid-column: 2 / span 1;
                grid-row: 2 / span 1; 
            }

            .article-content__container:nth-of-type(2) {
                grid-column: 3 / span 1;
                grid-row: 2 / span 1; 
            }

        }
    }

    figure.quote {
        padding: $padding-lg;

        figcaption {
            color: $color-font;
            font-size: $base-font-size;
            font-weight: $base-font-weight;
            text-align: right;
            padding-top: 3rem;
            line-height: $line-heigh-md;
        }    
    }


    // .content-card {
    //     position: relative;
    //     transition: $transition;
    //     opacity: 0;

    //     .content-card-item {
    //         width: 80%;
    //         position: relative;

    //         &.grid {
    //             grid-template-columns: [col] auto [col] 50%;
    //             grid-template-rows: repeat(2, auto [row]); 
    //             margin-top: 3rem;
    
    //             h3 {
    //                 text-align: left;
    //                 margin-right: 3rem;
    //                 grid-column: 1 / span 1;
    //                 grid-row: 1 / span 1;
    //             }
        
    //             p {
    //                 grid-column: 1 / span 1;
    //                 grid-row: 2 / span 1;
    //             }    
    //         }

    //         &.border {
                
    //             &::before {
    //                 content: '';
    //                 position: absolute;
    //                 top: 0;
    //                 left: 50%;
    //                 width: 0;
    //                 height: 0;
    //                 border: $border-heigh solid $color-hover-highlight;
    //                 border-bottom: none;
    //                 animation-name: border-animation-width, border-animation-heigh;
    //                 animation-delay: 0s, $border-animation-duration;
    //                 @include border-animation;
    //             }
    //         }  
                        
    //         .content-card-item__border-bottom {

    //             &.active {
    //                 position: absolute;
    //                 bottom: 0;
    //                 left: 0;
    //                 width: 100%;
    //                 height: $border-heigh;

    //                 &::before {
    //                     content: '';
    //                     position: absolute;
    //                     bottom: 0;
    //                     left: 0;
    //                     width: 0;
    //                     height: $border-heigh;
    //                     background-color: $color-hover-highlight;
    //                     animation-name: border-animation-width-bottom-left;
    //                     animation-delay: 2 * $border-animation-duration;
    //                     @include border-animation;  
    //                 }    
                    
    //                 &::after {
    //                     content: '';
    //                     position: absolute;
    //                     bottom: 0;
    //                     left: 0;
    //                     width: 0;
    //                     height: $border-heigh;
    //                     background-color: $color-hover-highlight;
    //                     animation-name: border-animation-width-bottom-right;
    //                     animation-delay: 2 * $border-animation-duration;
    //                     @include border-animation;   
    //                 }     
    //             }
    //         }

    //         h3 {
    //             margin-right: 0;
    //             grid-column: 1 / span 1;
    //             grid-row: 1 / span 1;
    //         }
    
    //         p {
    //             grid-column: 1 / span 1;
    //             grid-row: 2 / span 1;
    //         }
    //     } 

    //     .content-card__image {
    //         position: absolute;
    //         top: -30px;
    //         right: 175px;

    //         .content-card-item__image {
    //             width: 500px;
    //         }
    //     }    
    // }

    // @media (max-width: 500px) and (max-height: 900px) {
    //     $line-left: 65%;

    //     h2, h3 {
    //         font-size: $base-font-size*1.5;
    //     }

    //     p { 
    //         padding: $base-padding*3;
    //         font-size: $base-font-size;
    //     }

    //     .section__content-wrap {
    //         padding: 0 $base-padding*2;
    //         width: 100%;

    //         & > article:first-of-type {
    //             margin: 0;
    //             display: initial;

    //             h3 {
    //                 margin: 0;
    //                 padding: $base-padding*3;
    //                 text-align: left;
    //             }

    //             .grid {
    //                 grid-template-columns: [col] 57% [col] auto;

    //                 p, p[data-year] { 
    //                     font-size: $base-font-size;
    //                 }  
                    
    //                 .line[data-id="1"] {
    //                     left: $line-left;
    //                 }
    //             }
    //         }
    //     }

    //     figure.quote {
    //         padding: 0;
    //         margin-bottom: $base-margin*10;

    //         h2 {
    //             padding: $base-padding*1.5 0;
    //         }

    //         figcaption {
    //             font-size: $base-font-size*0.7;
    //         }
    //     }

    //     .content-card {
    //         .content-card__image {
    //             top: -70px;
    //             right: -25%;
    //             .content-card-item__image {
    //                 width: 250px;
    //             }
    //         }

    //         .content-card-item {
    //             &.grid {
    //                 display: initial;

    //                 h3 {
    //                     padding-top: $base-padding*12;
    //                     padding-bottom: $base-font-size;
    //                 }
    //             }

    //             &.border::before {
    //                 border-width: 4px;
    //             }
    //         }
    //     }  
    // }

    @media screen and (max-width: 600px) {
        $line-left: 65%;
        $point-left: 62.3%;

        h3 {
            font-size: $base-font-size * 1.5;
            padding: $base-padding * 2 $base-padding * 1;
            padding-top: $base-padding * 8;
        }

        p {
            font-size: $base-font-size;
            padding: $base-padding * 2 $base-padding * 1;
        }

        .section__content-wrap {
            width: 100%;
            padding: 0 $base-padding * 2;

            & > article {
                padding: $base-padding * 4 0;
                margin: 0;

                &:first-of-type {
                    h3 {
                        margin-right: 0;
                    }

                    .grid {
                        grid-template-columns: [col] 56% [col] auto;

                        p {
                            font-size: $base-font-size;
                        }

                        p[data-year] {
                            font-size: $base-font-size;
                        }

                        .line {
                            &[data-id] {
                                left: $line-left;
                            }
                        }

                        .point {
                            &[data-id] {
                                left: $point-left;

                                &.active {
                                    animation-name: mobile-point1-animation;
                                }        
                            }
                        }
                    }
                }
            }
        }

        .article-content {
            &.grid {
                display: initial;
            }
        }
    }
}

@keyframes border-animation-width {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        left: 40%;
        width: 25%;
    }

    100% {
        left: 0;
        width: 100%;
    }
}

@keyframes border-animation-heigh {
    0% {
        height: 0;
    }

    50% {
        height: 50%;
    }

    100% {
        height: 100%;
    }
}

@keyframes border-animation-width-bottom-left {
    0% {
        width: 0;
    }

    50% {
        width: 15%;
    }

    100% {
        width: 50%;
    }
}

@keyframes border-animation-width-bottom-right {
    0% {
        left: 100%;
        width: 0%;
    }

    50% {
        left: 75%;
        width: 25%;
    }

    100% {
        left: 50%;
        width: 50%;
    }
}

@keyframes point1-animation {
    0% {
        width: $point-dim;
        height: $point-dim;
    }

    50% {
        width: $point-dim*2;
        height: $point-dim*2;
        top: $point-top - 2%;
        left: $point-left - 2%;
    }

    100% {
        width: $point-dim;
        height: $point-dim;
    }
}

@keyframes point2-animation {
    0% {
        width: $point-dim;
        height: $point-dim;
    }

    50% {
        width: $point-dim*2;
        height: $point-dim*2;
        top: $point-top-id2 - 2%;
        left: $point-left - 2%;
    }

    100% {
        width: $point-dim;
        height: $point-dim;
    }
}

@keyframes point3-animation {
    0% {
        width: $point-dim;
        height: $point-dim;
    }

    50% {
        width: $point-dim*2;
        height: $point-dim*2;
        top: $point-top-id3 - 2%;
        left: $point-left - 2%;
    }

    100% {
        width: $point-dim;
        height: $point-dim;
    }
}

@keyframes point4-animation {
    0% {
        width: $point-dim;
        height: $point-dim;
    }

    50% {
        width: $point-dim*2;
        height: $point-dim*2;
        top: $point-top-id4 - 2%;
        left: $point-left - 2%;
    }

    100% {
        width: $point-dim;
        height: $point-dim;
    }
}

@keyframes point5-animation {
    0% {
        width: $point-dim;
        height: $point-dim;
    }

    50% {
        width: $point-dim*2;
        height: $point-dim*2;
        top: $point-top-id5 - 2%;
        left: $point-left - 2%;
    }

    100% {
        width: $point-dim;
        height: $point-dim;
    }
}

@keyframes line-animation {
    0% {
        height: 0;
    }

    100% {
        height: 15%;
    }
}

@keyframes line-animation-longer {
    0% {
        height: 0;
    }

    100% {
        height: 19%;
    }
}




