@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap);

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    font-weight: $base-font-weight;
    line-height: $base-line-heigh;
    color: $color-font;
    font-family: $ff;
    box-sizing: border-box;
    background: $color-bg;
    scroll-behavior: smooth;
}

/* === GENERAL === */
body {
    width: 100vw;
    margin: $margin-center-horizontal;
}

a {
    color: $color-font;
    text-decoration: none;
    font-size: $base-font-size;
}

h1 {
    font-size: $base-font-size*2;
    font-weight: $font-weight-lg;
}

h2 {
    font-size: $base-font-size*1.5;
    font-weight: $font-weight-lg;
}

h3 {
    font-size: $base-font-size + .2rem;
    font-weight: $font-weight-xl;
}

h4 {
    font-size: $base-font-size + .1rem;
    font-weight: $font-weight-xl;
}

ul li {
    list-style-type: none;
}

// .container {
//     width: 100vw;
//     background-color: $color-bg;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     overflow: hidden;
// }

// .wrap {
//     padding: 0 30px;
//     width: 98%;
//     max-width: 1400px;

//     @include sm {
//         padding: 0 20px;
//     }
// }

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

// .card {
//     width: 300px;
// 	height: 280px;
//     padding: $padding-xl $base-padding;
//     margin: $base-margin;
// 	border-radius: 2px;
//     transition: $base-transition;
// }

.pos-abs {
    position: absolute;
    top: 0;
    left: 0;
}

.site-logo {
    margin: $margin-center-vertical;
    margin-right: $margin-xl;
}

.btn {
    background-color: transparent;
    border: 1px solid $color-font-light;
    color: $color-font-light;
    font-size: $base-font-size;
    font-weight: $font-weight-lg;
    letter-spacing: .15em;
    padding: $base-padding*1.8 $base-padding*3.5;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);

    &:hover, &:focus, &:active {
        cursor: pointer;
        background-color: $color-font-light;
        transition: $animation-hover;
        color: $color-font-hover;
    }
}

// span.arrow {
//     transition: all .5s ease-out;
    
//     &::after {
//         content: "";
//         display: inline-block;
//         position: absolute;
//         top: 45%;
//         right: 13px;
//         width: 7px;
//         height: 7px;
//         border-top: 1px solid $color-font;
//         border-right: 1px solid $color-font;
//         transform: rotate(135deg);
//         transition: all .5s;

//         @include xl {
//             top: 41%;
//             right: 11px;
//         }
//     }
// }

// .flip {
//     transform: rotate(180deg);
//     transition: .2s;
// }

@media (max-width: 600px) {
    h3, h4 {
        font-size: $base-font-size;
    }

    p {
        font-size: $base-font-size - .2rem;
    }

    .btn {
        padding: $base-padding*1.6 $base-padding*1.8;

    }
}

@media (max-width: 370px) {
    .btn {
        padding: $base-padding*1.4 $base-padding*1.6;

    }
}

